
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
.padding-12 {
    padding: 0.12rem .12rem 0.12rem .12rem !important;
}

.padding-12 .card {
    margin: 0 !important;
}

.side-nav a {
    color: whitesmoke !important;
}

.parallax-container {
    height: 450px !important;
}
.border-fill {
    border-style: solid;
    background-color: #039be5;
    color: white;
    border-color: #039be5;
    margin: 2px;
    
}
a.border-fill:hover {
    border-style: solid;
    color: #039be5;
    background-color: white;
}
.border-fill-rev {
    border-style: solid;
    margin: 2px;
}

