<div class="parallax-container">
    <div class="parallax">
        <img src="https://images.pexels.com/photos/26365/pexels-photo-26365.jpg?w=800&h=1200&fit=crop&auto=compress&cs=tinysrgb">
    </div>
    <div class="container">
        <h4 class="header center" style="font-weight: normal;">A Non-profit group to give a fly to all</h4>
        <div class="row center">
            <a href="#/migrate" id="download-button" class="btn-large waves-effect waves-light grey darken-3">Start flying</a>
        </div>
    </div>
</div>
<div class="row ">
    <div class="col s12 m6 l3 padding-12">
        <img class="responsive-img" src="https://images.pexels.com/photos/306534/pexels-photo-306534.jpeg?h=350&amp;auto=compress&amp;cs=tinysrgb">
    </div>
    <div class="col s12 m6 l3 padding-12">
        <img class="responsive-img" src="https://images.pexels.com/photos/306534/pexels-photo-306534.jpeg?h=350&amp;auto=compress&amp;cs=tinysrgb">
    </div>
    <div class="col s12 m6 l3 padding-12">
        <img class="responsive-img" src="https://images.pexels.com/photos/297755/pexels-photo-297755.jpeg?h=350&auto=compress&cs=tinysrgb">
    </div>
    <div class="col s12 m6 l3 padding-12">
        <img class="responsive-img" src="https://images.pexels.com/photos/297755/pexels-photo-297755.jpeg?h=350&auto=compress&cs=tinysrgb">
    </div>
</div>
<div class="row">
    <div class="col s12 m6 offset-m3 center">
        <h2>Our Motive</h2>
        <p>To create a tree with branches, leaves and fruits that will give you everything what you need.</p>
    </div>
</div>
<div class="divider"></div>
<div class="row">
    <div class="col s12">
        <div class="col s12 m6">
            <img class="responsive-img" src="https://images.pexels.com/photos/306534/pexels-photo-306534.jpeg?h=350&amp;auto=compress&amp;cs=tinysrgb">
        </div>
        <div class="col s12 m6">
            <h3>Defination</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent accumsan velit tempor eleifend vestibulum.
                In faucibus, massa eget vulputate cursus, ex ex dignissim massa</p>
            <p><a href="#" class="btn small black">Learn more</a></p>
        </div>
    </div>
    <div class="col s12">
        <div class="col s12 m6 right">
            <img class="responsive-img" src="https://images.pexels.com/photos/297755/pexels-photo-297755.jpeg?h=350&auto=compress&cs=tinysrgb">
        </div>
        <div class="col s12 m6">
            <h3>Section</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent accumsan velit tempor eleifend vestibulum.
                In faucibus, massa eget vulputate cursus, ex ex dignissim massa</p>
            <p><a href="#" class="btn small black">Learn more</a></p>
        </div>
    </div>
</div>
<div class="divider"></div>