<div class="parallax-container">
    <div class="parallax">
        <img src="https://images.pexels.com/photos/26365/pexels-photo-26365.jpg?w=800&h=1200&fit=crop&auto=compress&cs=tinysrgb">
    </div>
    <div class="container">
        <h2 class="center">DuDuu</h2>
        <p class="center flow-text">Discovery of Utmost Desire United Union </p>
        <h4 class="header center" style="font-weight: normal;">A Non-profit Group that believes in free & Open Source industry </h4>
        <div class="row center">
            <a href="#/" id="download-button" class="btn-large waves-effect waves-light grey darken-3">Join the journey</a>
        </div>
    </div>
</div>
<!--
<div class="row ">
    <div class="col s12 m6 l3 padding-12">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="https://images.pexels.com/photos/306534/pexels-photo-306534.jpeg?h=350&amp;auto=compress&amp;cs=tinysrgb">
            </div>
            <div class="card-content">
                <span class="activator grey-text text-darken-4">Initiative<i class="material-icons right">more_vert</i></span>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Initiative<i class="material-icons right">close</i></span>
                <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l3 padding-12">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="https://images.pexels.com/photos/306534/pexels-photo-306534.jpeg?h=350&amp;auto=compress&amp;cs=tinysrgb">
            </div>
            <div class="card-content">
                <span class="activator grey-text text-darken-4">Initiative<i class="material-icons right">more_vert</i></span>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Initiative<i class="material-icons right">close</i></span>
                <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l3 padding-12">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="https://images.pexels.com/photos/306534/pexels-photo-306534.jpeg?h=350&amp;auto=compress&amp;cs=tinysrgb">
            </div>
            <div class="card-content">
                <span class="activator grey-text text-darken-4">Initiative<i class="material-icons right">more_vert</i></span>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Initiative<i class="material-icons right">close</i></span>
                <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l3 padding-12">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="https://images.pexels.com/photos/306534/pexels-photo-306534.jpeg?h=350&amp;auto=compress&amp;cs=tinysrgb">
            </div>
            <div class="card-content">
                <span class="activator grey-text text-darken-4">Initiative<i class="material-icons right">more_vert</i></span>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Initiative<i class="material-icons right">close</i></span>
                <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
        </div>
    </div>
</div>
-->
<div class="row">
    <div class="col s12 m6 offset-m3 center">
        <h2>Our Motive</h2>
        <p>To create a tree with branches, leaves and fruits that will give you everything what you need.</p>
    </div>
</div>
<div class="row">
    <div class="col s12 m8 offset-m2 valign-wrapper">
        <div class="col s12 m6">
            <img class="responsive-img" src="https://images.pexels.com/photos/306534/pexels-photo-306534.jpeg?h=350&amp;auto=compress&amp;cs=tinysrgb">
        </div>
        <div class="col s12 m6">
            <h4>Services to Everyone</h4>
            <p>Spreading the avaliable services broadly across borders. e.g. digital transformation, marketplaces, logistics
                etc.
            </p>
            <p><a href="#" class="truncate">Learn more</a></p>
        </div>
    </div>
    <div class="col s12 m8 offset-m2 valign-wrapper">
        <div class="col s12 m6">
            <h4>Education to Everyone</h4>
            <p>It's the birth right of everyone and we are commited to deliver.</p>
            <p><a href="#" class="truncate">Learn more</a></p>
        </div>
        <div class="col s12 m6">
            <img class="responsive-img" src="https://images.pexels.com/photos/297755/pexels-photo-297755.jpeg?h=350&auto=compress&cs=tinysrgb">
        </div>
    </div>
</div>
<div class="grey darken-4">
    <div class="container">
        <div class="row white-text">
            <div class="col s12 center">
                <h2>Our Initiatives</h2>
            </div>
            <div class="col s12 m4 grey darken-4 white-text">
                <h5 class="center">A Smart Friend</h5>
                <p class="light"> Our motive is to create an one stop friend where you can share what you want and will do what it should be.
                    <a href="#" class="truncate">Learn more</a>
                </p>
            </div>
            <div class="col s12 m4 grey darken-4 white-text">
                <h5 class="center">Smart Logistics</h5>
                <p class="light">A new clever way of logistics using existing transport and human traveling leads to the natural resource
                    saving. <a href="#" class="truncate">Learn more</a></p>
            </div>
            <div class="col s12 m4 grey darken-4 white-text">
                <h5 class="center">Opensource Projects</h5>
                <p class="light"> As per the current market need. We will create and contribute to best open source projects
                    <a href="#" class="truncate">Learn more</a>
                </p>
            </div>
            <div class="col s12 m4 grey darken-4 white-text">
                <h5 class="center">Free Education</h5>
                <p class="light"> Education is the birth right of everyone. We are in progress to create a "Super Channel"" that will provide
                    education across borders via online, offline & all possible channels.
                    <a href="#" class="truncate">Learn more</a>
                </p>
            </div>
            <div class="col s12 m4 grey darken-4 white-text">
                <h5 class="center">Support StartUps</h5>
                <p class="light"> Provide a guidance to an early stage StartUps and give a Boost in all possible ways.
                    <a href="#" class="truncate">Learn more</a>
                </p>
            </div>
            <div class="col s12 m4 grey darken-4 white-text">
                <h5 class="center">Leading Research</h5>
                <p class="light"> Research is the key to grow or drive an Ecosystem.
                    <a href="#" class="truncate">Learn more</a>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col s12 m10 offset-m1 center">
            <i class="material-icons">hearing</i>
            <h4 class="center">Everyone is loving us & we are hearing you always</h4>
            <p class="light flow-text"> We are a group who is going to help and give a boost to our ecosystem in areas of Eduction, Healthcare, digitalization,
                Internat of things and anything that comes in our mind ...</p>
            <p class="flow-text">Who we are ? We are your heart, thoughts and would be great if we say We === You</p>
        </div>
    </div>
    <div class="row">
        <div class="divider"></div>
        <a href="#" class="btn-block center">Join Us</a>
    </div>
    <div class="row">
        <div class="col s12 m10 offset-m1">
            <div class="col s6">
                <a href="#" class="btn-block border-fill hoverable center">Donate to DuDuu</a>
            </div>
            <div class="col s6">
                <a href="#" class="btn-block border-fill hoverable center">Like us on Facebook</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="divider"></div>
    </div>
</div>